body {
    margin: 0px;
    overflow: hidden;
    font-family: Arial;
}

header {
    height: 2.6em;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav .left, header nav .right {
    display: flex;
    position: relative;
    padding: 12px;
}

a {
    text-decoration: none !important;
    color: black;
}

#main {
    position: relative;
    width: 100%;
    height: calc(100% - 2.6em);
    display: flex;
}

#map {
    position: relative;
    width: calc(100% - 15em);
    z-index: 99;
}

#sidebar {
    height: 100%;
    min-width: 15em;
    max-width: 15em;
    background-color: #f1f1f1;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar #noSelection {
    font-weight: bold;
    color: #a7a7a7;
    top: 49%;
    position: relative;
}

i.material-icons {
    cursor: pointer;
}

.card {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #dadada;
}

.card.closed .card-content{
    display: none;
}

.card.closed .card-header{
    border-bottom: none;
}

.card-header {
    border-bottom: 1px solid #dadada;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.card-header span {
    top: 3px;
    position: relative;
}

.card-content {
    padding: 5px;
}

#close-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
}

#close-wrapper #closeSidebar {
    display: none;
}

#close-wrapper #realtime.active {
    color: rgb(71, 154, 187);
    border-radius: 20px;
    padding: 6px;
    background: rgba(66, 139, 202, 0.3);
}

#sidebar span#activate-fullscreen {
    top: 5px;
    position: relative;
    color: blue;
    cursor: pointer;
}

#fullscreen-data {
    background-color: #f1f1f1;
    z-index: -100;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}

#fullscreen-data.active {
    opacity: 100;
    z-index: 100;
}

#fullscreen-data #fullscreen-top-bar {
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
}

#fullscreen-data #fullscreen-top-bar #close-fullscreen {
    cursor: pointer;
}

/*Responsive*/
@media only screen and (max-width: 529px) {
    #close-wrapper {
        justify-content: space-between;
    }

    #close-wrapper #closeSidebar {
        display: block;
    }

    #sidebar {
        display: none;
        width: 100%;
        max-width: 100%;
        overflow: scroll;
    }

    #sidebar.open {
        display: block;
        position: absolute;
        z-index: 2;
    }

    #map {
        width: 100%;
        z-index: 1;
    }
}