body {
    margin: 0px;
    overflow: hidden;
    font-family: Arial;
}

header {
    height: 2.6em;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav .left, header nav .right {
    display: flex;
    position: relative;
    padding: 12px;
}

header nav span:not(:last-child), header nav a:not(:last-child) {
    margin-right: 7px;
}

header nav span:not(:first-child), header nav a:not(:first-child) {
    margin-left: 7px;
}

a {
    text-decoration: none !important;
    color: black;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#map {
    position: relative;
    width: calc(100% - 19em);
    z-index: 99;
}

#sidebar {
    height: 100%;
    min-width: 19em;
    max-width: 19em;
    background-color: #f1f1f1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar-header {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 5px #00000012;
}

#sidebar-header h3 {
    margin: 0px;
}

#sidebar:not(.open) #sidebar-actions {
    display: none;
}

#sidebar #sidebar-actions #action-icons-wrapper {
    display: flex;
    justify-content: center;
    /* font-size: 2em !important; */
    /* background-color: #556bd0; */
    background-color: #4285f4;
    color: #ffffffe3;
    padding: 6px;
}

#sidebar #sidebar-actions #action-icons-wrapper i {
    margin-left: 17px;
    margin-right: 17px;
    padding: 5px;
}

#sidebar #sidebar-actions #action-icons-wrapper i.active,
#sidebar #sidebar-actions #action-icons-wrapper i:active{
    background: #3b75d6;
    border-radius: 33px;
    /* padding: 5px; */
    color: white;
}

#sidebar #advanced-options {
    padding-left: 10px;
}

#sidebar-main {
    display: flex;
    height: max-content;
    flex-direction: column;
}

#sidebar-main #noSelection {
    font-weight: bold;
    color: #a7a7a7;
    top: 40%;
    position: relative;
    width: 100%;
    text-align: center;
}

#sidebar #login {
    width: 100%;
    outline: 0;
    border: 0px;
    height: 3em;
    /**background-color: hsl(235, 60%, 52%);**/
    background-color: hsl(217, 58%, 50%);
    color: white;
    font-size: 1em;
    cursor: pointer;
}

i.material-icons {
    cursor: pointer;
}

.card {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #dadada;
}

.card.closed .card-content{
    display: none;
}

.card.closed .card-header{
    border-bottom: none;
}

.card-header {
    border-bottom: 1px solid #dadada;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.card-header span {
    top: 3px;
    position: relative;
}

.card-content {
    padding: 5px;
}

#close-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
}

#close-wrapper #closeSidebar {
    display: none;
}

#close-wrapper #realtime.active {
    color: rgb(71, 154, 187);
    border-radius: 20px;
    padding: 6px;
    background: rgba(66, 139, 202, 0.3);
}

#sidebar span#activate-fullscreen {
    top: 5px;
    position: relative;
    color: blue;
    cursor: pointer;
}

#fullscreen-data {
    background-color: #f1f1f1;
    z-index: -100;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}

#fullscreen-data.active {
    opacity: 100;
    z-index: 100;
}

#fullscreen-data #fullscreen-top-bar {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

#fullscreen-data #fullscreen-top-bar #close-fullscreen {
    cursor: pointer;
}

#fullscreen-chart {
    height: 93%;
    position: relative;
}
/**
#fullscreen-chart-canvas {
    position: absolute;
    bottom: 0px;
    height: 93% !important;

}
**/
.hide {
    display: none;
}

/*Responsive*/
@media only screen and (max-width: 529px) {
    #close-wrapper {
        justify-content: space-between;
    }

    #close-wrapper #closeSidebar {
        display: block;
    }

    #sidebar {
        display: none;
        width: 100%;
        max-width: 100%;
        overflow: scroll;
    }

    #sidebar.open {
        display: block;
        position: absolute;
        z-index: 2;
    }

    #map {
        width: 100%;
        z-index: 1;
    }
}