:root {
    background: linear-gradient(to top right,#923fef, #4fceef);
    color: white;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-form input, #login-form button {
    width: 18em;
    margin: 2px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 5px #00000059;
    padding: 10px;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
}

#login-form button {
    background-color: #ff4fa1;
    border-color: transparent;
    color: white;
    font-weight: bold;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#login-form button span {
    top: 4px;
    position: relative;
}

#back-btn {
    position: absolute;
    font-family: Arial;
    top: 7px;
    display: flex;
    cursor: pointer;
}

#back-btn span {
    top: 4px;
    position: relative;
}