body {
    margin: 0px;
    overflow: hidden;
    font-family: Arial;
}

header {
    height: 2.6em;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: #afafaf 0px -3px 12px 0px;
}

header nav .left, header nav .right {
    display: flex;
    position: relative;
    padding: 12px;
}

a {
    text-decoration: none !important;
    color: black;
}

#heading {
    margin-left: 10px;
}

#main {
    padding-left: 12px;
    display: flex;

}

#main #nav {
    display: flex;
    flex-direction: column;
    max-width: 11em;
    border: 1px solid #dedede;
    border-radius: 3px;
}

#main #nav a {
    padding: 5px;
    color: #0366d6;
    padding-right: 20px;
}

#main #nav a:not(:last-child) {
    border-bottom: 1px solid #adadad;
}

#main #content-wrapper {
    margin-left: 20px;
}

#main #content-wrapper div {
    position: absolute;
    z-index: 1;
    background-color: white;
}

#main #content-wrapper #account {
    z-index: 2;
}

#main #content-wrapper div:target {
    z-index: 3;
}

#main #content-wrapper div p {
    margin: 0px;
}